<?xml version="1.0" encoding="UTF-8"?>
<web-app version="4.0" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd">
    <servlet>
        <servlet-name>ServletCreate</servlet-name>
        <servlet-class>Controller.ServletCreate</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletRead</servlet-name>
        <servlet-class>Controller.ServletRead</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletUpdate</servlet-name>
        <servlet-class>Controller.ServletUpdate</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletDelete</servlet-name>
        <servlet-class>Controller.ServletDelete</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletLogin</servlet-name>
        <servlet-class>Controller.ServletLogin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletLogout</servlet-name>
        <servlet-class>Controller.ServletLogout</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>NewServlet</servlet-name>
        <servlet-class>NewServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletAprobar_Cuento</servlet-name>
        <servlet-class>Controller.ServletAprobar_Cuento</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletRevisor</servlet-name>
        <servlet-class>Controller.ServletRevisor</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ServletCreate</servlet-name>
        <url-pattern>/ServletCreate</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletRead</servlet-name>
        <url-pattern>/ServletRead</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletUpdate</servlet-name>
        <url-pattern>/ServletUpdate</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletDelete</servlet-name>
        <url-pattern>/ServletDelete</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletLogin</servlet-name>
        <url-pattern>/ServletLogin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletLogout</servlet-name>
        <url-pattern>/ServletLogout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>NewServlet</servlet-name>
        <url-pattern>/NewServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletAprobar_Cuento</servlet-name>
        <url-pattern>/ServletAprobar_Cuento</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletRevisor</servlet-name>
        <url-pattern>/ServletRevisor</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
</web-app>
